*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    overflow-x: hidden;
}

.banner{
    position: absolute;
    top: 0;
    left: -5vh;
    align-items: center;
    width: 105%;
    height: 97vh;
    z-index: -1;
}

.fundo{
    position: relative;
    width: 202vh;
    top: 480px;
    right: 0px;
}

.logo{
    
    position: absolute;
    left: 650px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 10vh;
    height: 10vh;
    padding: 1vh 7vh;
    
}

.icon{
    position: absolute;
    cursor: pointer;
    top: -3.5vh;
    left: -4vh;
    width: 12vh;
    height: 9.7vh;
}

.icon2{
    position: absolute;
    cursor: pointer;
    top: -1vh;
    left: -5.5vh;
    width: 6vh;
    height: 4.5vh;
}

.icon3{
    position: absolute;
    cursor: pointer;
    top: -0.2vh;
    left: 6.2vh;
    width: 3.3vh;
    height: 3.3vh;
}


header{
    position: relative;
    margin: 30px auto;
    left: 2vh;
    height: 86px;
    width: 188vh;
    position: relative;
    z-index: 1000;
    display: flex;
    border-top: 0.2px solid white;
    border-bottom: 0.2px solid white;
    justify-content:center;
    align-items: center;
    padding: 15px 30px;
}
.conteiner-menu{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

a{
    font-family: "Oswald", "sans-serif";
    font-size: 12.5px;
    color: #ffffff;
}
.home{
    color: rgb(60, 126, 30);
    z-index: 1000;
}

.menu-1 { 
    position: absolute;
    display: flex;
    top: 0;
    right: 260px;
    gap: 50px;
    transition: 0.7s;
}


.menu-2 {
    position: absolute;
    color: white;
    position: relative;
    display: flex;
    top: 0;
    left: 247px;
    gap: 50px;
    transition: 0.7s;
}

.menu-3{
    position: absolute;
    color: white;
    right: 92vh;
    display: flex;
    top: 0;
    transition: 0.7s;
}

.menu-4{
    position: absolute;
    color: white;
    left: 97vh;
    display: flex;
    top: 0;
    transition: 0.7s;
}

.menu-1 a:hover{
    color: rgb(60, 126, 30);
}

.menu-2 a:hover{
    color: rgb(60, 126, 30);
}

.menu-3 a:hover{
    color: rgb(194, 194, 194);
}

.menu-4 a:hover{
    color: rgb(194, 194, 194);
}

nav a{
    text-decoration: none;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold.ttf');
}

