*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    overflow-x: hidden;
}

.banner{
    position: absolute;
    top: 0;
    left: -5vh;
    align-items: center;
    width: 105%;
    height: 97vh;
    z-index: -1;
}

.fundo{
    position: relative;
    width: 202vh;
    top: 338px;
    right: 0px;
}

.texto-central{
    position: relative;
    flex-direction: column;
    display: flex;
    align-items:center;
    justify-content: center;
    top: 20vh;
    gap: 4px;
}

.texto-central .titulo {
    font-family: "Oswald", "sans-serif";
    font-size: 5.7vh;
    color: #ffffff;
}

.texto-central .texto{
    font-size: 2.1vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.btn{
    position: relative;
    top: 4vh;
    font-family: "Oswald", "sans-serif";
    color: white;
    background-color: #59815b;
    padding: 1.5vh 6vh;
    border: transparent;

}

.logo{
    
    position: absolute;
    left: 650px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 10vh;
    height: 10vh;
    padding: 1vh 7vh;
    
}

.icon{
    position: absolute;
    cursor: pointer;
    top: -3.5vh;
    left: -4vh;
    width: 12vh;
    height: 9.7vh;
}

.icon2{
    position: absolute;
    cursor: pointer;
    top: 0vh;
    left: -4.3vh;
    width: 3vh;
    height: 2.5vh;
}

.icon3{
    position: absolute;
    cursor: pointer;
    top: -0.2vh;
    left: 6.2vh;
    width: 3.3vh;
    height: 3.3vh;
}

.icon-telefono{
    position: absolute;
    font-size: 10px;
    left: 0vh;
    top: -2.6vh;
    display: flex;
    cursor: pointer;
}

.icon-gmail{
    position: absolute;
    font-size: 10px;
    left: 15vh;
    top: -2.5vh;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sociais{
    position: absolute;
    color: white;
    font-family: "Crimson", "sans-serif";
    font-size: 10px;
    left: 172vh;
    top: -3vh;
    gap: 1.2vh;
    display: flex;
    align-items: center;
}

.sociais i{
    cursor: pointer;
}

.sociais p{
    display: flex;
    font-size: 13.5px;
}


header{
    position: relative;
    margin: 30px auto;
    left: 2vh;
    height: 86px;
    width: 188vh;
    position: relative;
    z-index: 1000;
    display: flex;
    border-top: 0.2px solid white;
    border-bottom: 0.2px solid white;
    justify-content:center;
    align-items: center;
    padding: 15px 30px;
}
.conteiner-menu{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

a{
    font-family: "Oswald", "sans-serif";
    font-size: 12.5px;
    color: #ffffff;
}
.home{
    color: rgb(60, 126, 30);
    z-index: 1000;
}

.menu-1 { 
    position: absolute;
    display: flex;
    top: 0;
    right: 400px;
    gap: 50px;
    transition: 0.7s;
}


.menu-2 {
    position: absolute;
    color: white;
    position: relative;
    display: flex;
    top: 0;
    left: 100px;
    gap: 50px;
    transition: 0.7s;
}

.menu-3{
    position: absolute;
    color: white;
    right: 112vh;
    display: flex;
    top: 0;
    transition: 0.7s;
}

.menu-4{
    position: absolute;
    color: white;
    left: 80vh;
    display: flex;
    top: 0;
    transition: 0.7s;
}

.menu-1 a:hover{
    color: rgb(60, 126, 30);
}

.menu-2 a:hover{
    color: rgb(60, 126, 30);
}

.menu-3 a:hover{
    color: rgb(201, 200, 200);
}

.menu-4 a:hover{
    color: rgb(201, 200, 200);
}

.info a:hover{
    color: rgb(201, 200, 200);
}

nav a{
    text-decoration: none;
}

.info{
    position: absolute;
    font-size: 10px;
    left: 2.7vh;
    top: -3vh;
    display: flex;
    gap: 6vh; 
    align-items: center;
}

.gmail{
    font-family: "Crimson", "sans-serif";
    text-decoration: none;
}

.numero{
    font-family: "Crimson", "sans-serif";
    text-decoration: none;
}


.info-subtitulo{
    position: relative;
    left: 12vh;
    top: 28.8vh;
    display: flex;
    justify-content: center;
    gap: 6vh; 
    align-items: center;
}

.info-subtitulo a {
    font-size: 2.2vh;
    font-family: "Crimson", "sans-serif";
    text-decoration: none;
}

.icon-data{
    position: relative;
    left: 14.3vh;
    top: 28.3vh;
    display: flex;
    justify-content: center;
    gap: 6vh; 
    align-items: center;
}

.icon-lapis{
    position: relative;
    left: 29.5vh;
    top: 28.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-lapis i{
    color: white;
    font-size: 14px;
}


@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold.ttf');
}

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/CrimsonText-SemiBoldItalic.ttf');
}
