*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.container {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    border-radius: 50px;
    background-color: red;
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: medium;
    align-items: center;
    display: flex;
    justify-content: center;
}




